.Aborting > .ion-close-round {
	font-size:192px;
}

.Aborting > .ion-chevron-down {
	font-size:92px;
	-webkit-animation: mover 2s infinite alternate;
	-moz-animation: mover 2s infinite alternate;
	animation: mover 2s infinite alternate;
}

.Aborting > .retrieve-card-button {
	position:absolute;
	left:0;
	bottom:0;
}
